<div class="container_big_card">

  <div class="big_card_photo">
    <img
      src="https://t.ctcdn.com.br/fx_m_6QjHLV4n4JdmtsWD-GWgFM=/640x360/smart/i810767.jpeg"
      alt=""
      height="200px"
      >
  </div>

  <div class="big_card_title">
    <h1>
      <a href="#"> O novo angular</a>
    </h1>
  </div>

  <div class="big_card_description">
    <p>
      <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo ipsam quas voluptate. Aperiam consequuntur tempore temporibus corporis doloribus porro laborum illum! Rem velit ratione animi optio quas rerum esse exercitationem.

      </a>
    </p>
  </div>

</div>
