<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container_articles">

  <div class="articles_main">
    <app-big-card
      photoCover="https://t.ctcdn.com.br/fx_m_6QjHLV4n4JdmtsWD-GWgFM=/640x360/smart/i810767.jpeg"
      cardTitle="Novo filme do Hulk"
      cardDescription="Contando toda a história do  filme, que é um dos mais esperados do ano."

    >
    </app-big-card>
  </div>
  <div class="articles_others">
    <app-small-card
      photoSmallCard="https://t.ctcdn.com.br/lhWQPNCpONN1_n1f7-ekMrcGEME=/340x265:1654x1005/1024x576/smart/i521747.jpeg"
      titleSmallCard="Nova temporada"
      >

    </app-small-card>

    <app-small-card
      photoSmallCard="https://t.ctcdn.com.br/lhWQPNCpONN1_n1f7-ekMrcGEME=/340x265:1654x1005/1024x576/smart/i521747.jpeg"
      titleSmallCard="Nova temporada"
    >

    </app-small-card>

    <app-small-card
      photoSmallCard="https://t.ctcdn.com.br/lhWQPNCpONN1_n1f7-ekMrcGEME=/340x265:1654x1005/1024x576/smart/i521747.jpeg"
      titleSmallCard="Nova temporada"
    >

    </app-small-card>
  </div>

</div>
